<form action='/admin/new-video' method='POST' type="application/x-www-form-urlencoded"> 

<h1>YENI VIDEO</h1>
<div class='form-group'>  
    <label for="baslik">Başlık</label>

<input class="form-control form-control-lg" name ='baslik' type="text" placeholder="Başlık">

</div>
<div class='form-group'> 
    <label for="baslik">Link</label>

<input class="form-control" type="text" name='link' placeholder="Izletme linki">

</div>

  <div class="form-group">
    <label for="aciklama">Açıklama</label>
    <textarea class="form-control" id="aciklama" name='aciklama' rows="3"></textarea>
  </div>
  <br>
  <p> 
<button type="submit" class="btn btn-warning">Yayınla</button>
  </p>
</form>